body {
    background-color: rgb(30, 33, 35);
    margin: 3px;
    text-align: center;
}
#notTitle {
    display: flex;
}
h1 {
    border-radius: 9px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    color: rgb(200, 200, 200);
    width: 99%;
    padding:20px;
}
#England {
    background-color: tomato;
    margin-right: 5px;
}
#France {
    background-color: cyan;
    margin-left: 5px;
}
#England:hover {
    background-color: red; 
}
#England:active {
    background-color: rgb(200, 0, 0);
}
#France:hover {
    background-color: rgb(50, 50, 200);
}
#France:active {
    background-color: rgb(0, 0, 200);
}
@keyframes SizeAnimation {
    from{padding: 0.5px;}
    to{padding:10px;}
}
.InteractiveButtons {
    padding:10px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 50px;
    transition: background-color 500ms, padding 500ms, border-color 500ms;
    background-color: rgb(200, 150, 200);
    border-color: rgb(180, 130, 180);
    border-style: solid;
    border-radius: 5px;
    max-width: 80%;
    cursor:pointer;
    position:center;
}
.InteractiveButtons:hover {
    background-color: rgb(180, 130, 180);
    border-color: rgb(180, 130, 180);
    padding-top: 25px;
    padding-bottom: 25px;
}
.InteractiveButtons:active {
    background-color: rgb(100, 50, 100);
    border-color: rgb(180, 130, 180);
    cursor:grab;
    padding-top: 30px;
    padding-bottom: 30px;
}
.englandFranceButtons {
    font-family:Arial;
    animation: SizeAnimation;
    animation-delay: 200ms;
    animation-duration: 700ms;
    text-align: center;
    transition: padding 500ms;
    padding:10px;
    cursor:pointer;
    font-weight:bold;
    background-position: center;
}
.englandFranceButtons:hover {
    padding: 15px;
}
.englandFranceButtons:active {
    cursor:grab;
}
#stats {
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
    padding: 5%;
    min-width: 100px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#rickRollText {
    font-weight:bold;
    font-size: 30px;
    cursor:text;
    max-width:100px;
    text-align: right;
    color: rgb(250, 50, 20);
    margin-top: 20x;
    border: 0px;
}
a {
    text-decoration: none;
    color:white;
    cursor: default;
}
a:visited {
    color: white;
}
h4 {
    color: rgb(220, 200, 220);
}
p {
    color: white;
}
.half {
    width: 48%;
    border-color: white;
    border-width: 1%;
}